Adafruit-Blinka==0.4.0
adafruit-circuitpython-neopixel==3.3.4
Adafruit-GPIO==1.0.3
Adafruit-PureIO==0.2.3
asciinema==2.0.2
atomicwrites==1.2.1
attrs==18.2.0
certifi==2018.11.29
gpiozero==1.4.1
more-itertools==5.0.0
pipenv==2018.11.26
pluggy==0.8.1
py==1.7.0
pytest==4.1.1
pytest-env==0.6.2
rpi-ws281x==4.1.0
RPi.GPIO==0.6.5
six==1.12.0
spidev==3.2
virtualenv==16.1.0
virtualenv-clone==0.4.0
